.login {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.login.active {
  opacity: 1;
  pointer-events: all;
}

.login_container {
  border-radius: 40px;
  background: #1b2f46;
  padding: 5px;
  width: 780px;
  height: 672px;
  transform: scale(0.5);
  transition: 0.4s;
}

.login_container.active {
  transform: scale(1);
}

.login_title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 150%;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 80px 80px 0 80px;
}

.formBlock_footer {
  display: flex;
  justify-content: space-around;
  margin: 40px 80px 80px 80px;
}

.footer__subcription {
  display: flex;
  margin-right: 40px;
  width: 486px;
}

.footer_title {
  font-weight: 400;
  color: #9da5af;
  font-size: 1.1rem;
  line-height: 155%;
  margin-right: 4px;
}

.footer_href {
  font-weight: 700;
  color: #b1c909;
  font-size: 1.1rem;
  line-height: 155%;
  cursor: pointer;
}
